{% extends 'base.html' %}
{% block title %}
建立頁面
{% endblock %}
{% block content %}
<div class="hero is-info is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container is-vcentered">
            <div class="columns is-centered ">
                <div class="column is-6">

                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="field has-text-centered">
                            <button type="submit" class="button is-warning">建立</button>
                        </div>
                    </form>

                    {% endblock %}